{% extends "::layout.html.twig" %}

{% block content %}
    <div class="container nl-content">
        <div class="row">
            <div class="col-sm-9 nl-form">
                <h2 class="nl-heading">{{ 'nilead.account_reset_success' | trans }}</h2>
                <hr/>
                {% block fos_user_content %}
                    <h4>
                        {{ 'nilead.check_email' | trans({'%email%': email}) }}
                    </h4>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}
