{% extends "::layout.html.twig" %}

{% block fos_user_content %}
    <p>{{ 'nilead.registration_confirmed'|trans({'%username%': user.username}) }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'nilead.back' | trans }}</a></p>{% endif %}
    {% endif %}
{% endblock fos_user_content %}
